<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% if title %}
    <title>Django blog - {{ title }}</title>
    {% else %}
    <title>Django blog</title>
    {% endif %}

    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="{% url 'blog-home' %}" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="admin/">Admin</a></li>
                    <li><a href="{% url 'blog-about' %}">About</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>

</head>
<body>
<div class="container">

    {% block content %}
    {% endblock %}
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
    {% if messages %}
        {% for message in messages %}
            var color;
            {% if message.tags == 'success'%}
                color = 'green lighten-2';
            {% elif message.tags == 'info' %}
                color = 'blue lighten-2';
            {% elif message.tags == 'warning' %}
                color = 'yellow lighten-2';
            {% elif message.tags == 'error' %}
                color = 'red lighten-2';
            {% endif %}
                    window.addEventListener('load', function() {
                      var elems = document.querySelectorAll('.modal');
                      var instances = M.Modal.init(elems);
                    });
                    M.toast({html: '{{ message }}', classes: color });
        {% endfor %}
    {% endif %}
</script>
</body>
</html>